In [1]:

import numpy as np
import angular_momentum
import wigner_d
import cg
import math
import random
from wigner_d import WignerD
from cg import ClebschGordanCoefficients
from IPython.display import display

# Angular momentum operators
The angular momentum operators $J_x^{(j)}$, $J_y^{(j)}$, $J_z^{(j)}$, $J_+^{(j)}$, and $J_-^{(j)}$ in the bases $|j, m \rangle$ given a $j \in \{ n / 2 \mid n \in \mathbb{N} \}$. We will use the natural unit such that $\hbar = 1$.

In [2]:
j = 1/2
angular_momentum.J_x(j), angular_momentum.J_y(j), angular_momentum.J_z(j)

(array([[0. , 0.5],
        [0.5, 0. ]]),
 array([[0.+0.j , 0.+0.5j],
        [0.-0.5j, 0.+0.j ]]),
 array([[1., 0.],
        [0., 1.]]))

check that $\left( j_y^{(j=1)} \right)^3 = J_y^{(j=1)}$

In [3]:
j = 1
np.linalg.matrix_power(angular_momentum.J_y(j), 3) - angular_momentum.J_y(j)  # should be zero up to machine precision

array([[0.+0.00000000e+00j, 0.+1.11022302e-16j, 0.+0.00000000e+00j],
       [0.-1.11022302e-16j, 0.+0.00000000e+00j, 0.+1.11022302e-16j],
       [0.+0.00000000e+00j, 0.-1.11022302e-16j, 0.+0.00000000e+00j]])

In [4]:
angular_momentum.J_plus(1), angular_momentum.J_minus(1)

(array([[0.        , 0.        , 0.        ],
        [1.41421356, 0.        , 0.        ],
        [0.        , 1.41421356, 0.        ]]),
 array([[0.        , 1.41421356, 0.        ],
        [0.        , 0.        , 1.41421356],
        [0.        , 0.        , 0.        ]]))

# Wigner D matrices

In [5]:
# spin-1/2
# gives -I after a full rotation
j = 1 / 2
beta = 2 * np.pi
wigner_d.wigner_d(j, beta).round(12)

array([[-1.,  0.],
       [-0., -1.]])

In [6]:
j = 1
beta = 2 * np.pi
wigner_d.wigner_d(j, beta).round(12)

array([[ 1., -0.,  0.],
       [ 0.,  1., -0.],
       [ 0.,  0.,  1.]])

In [7]:
j = 1
alpha = random.uniform(0, 2 * math.pi)
beta = random.uniform(0, math.pi)
gamma = random.uniform(0, 2 * math.pi)
d = wigner_d.wigner_d(j, beta)
# given a d, we can calculate the D matrix (and vice versa using wigner_d.wigner_d_from_D))
wigner_d.wigner_D_from_d(d, alpha, gamma) - wigner_d.wigner_D(j, alpha, beta, gamma)

array([[0.+0.j, 0.+0.j, 0.+0.j],
       [0.+0.j, 0.+0.j, 0.+0.j],
       [0.+0.j, 0.+0.j, 0.+0.j]])

In [8]:
alpha = np.random.rand(1) * 2 * np.pi
beta = np.random.rand(1) * np.pi
gamma = np.random.rand(1) * 2 * np.pi
wd = WignerD(jmax=2, alpha=alpha, beta=beta, gamma=gamma)
wd

WignerDDict(jmax=2, alpha=[2.27693118], beta=[2.53147667], gamma=[4.88920519])

In [9]:
# update jmax and stores wigner matrices up to jmax
wd.set_jmax(3)
wd

WignerDDict(jmax=3, alpha=[2.27693118], beta=[2.53147667], gamma=[4.88920519])

In [10]:
# look up the wigner D matrix with j = 1
wd.wigner_D(1)

array([[ 0.05727147+0.06969706j, -0.26289811+0.30826548j,
        -0.78528712-0.45939462j],
       [-0.07126363+0.39882893j, -0.81958157+0.j        ,
         0.07126363+0.39882893j],
       [-0.78528712+0.45939462j,  0.26289811+0.30826548j,
         0.05727147-0.06969706j]])

In [11]:
# set a new angles
alpha = np.random.rand(1) * 2 * np.pi
beta = np.random.rand(1) * np.pi
gamma = np.random.rand(1) * 2 * np.pi

wd.set_alpha(alpha)
wd.set_beta(beta)
wd.set_gamma(gamma)

In [12]:
# a dictionary of all stored little d matrices
wd.d

{0.0: array([[1.]]),
 0.5: array([[ 0.60184398,  0.79861369],
        [-0.79861369,  0.60184398]]),
 1.0: array([[ 0.36221617,  0.67972879,  0.63778383],
        [-0.67972879, -0.27556765,  0.67972879],
        [ 0.63778383, -0.67972879,  0.36221617]]),
 1.5: array([[ 0.21799762,  0.50103171,  0.66484139,  0.50934289],
        [-0.50103171, -0.54969509,  0.0691987 ,  0.66484139],
        [ 0.66484139, -0.0691987 , -0.54969509,  0.50103171],
        [-0.50934289,  0.66484139, -0.50103171,  0.21799762]]),
 2.0: array([[ 0.13120056,  0.34819177,  0.56587039,  0.61308991,  0.40676821],
        [-0.34819177, -0.5618463 , -0.32443263,  0.28627864,  0.61308991],
        [ 0.56587039,  0.32443263, -0.3860937 , -0.32443263,  0.56587039],
        [-0.61308991,  0.28627864,  0.32443263, -0.5618463 ,  0.34819177],
        [ 0.40676821, -0.61308991,  0.56587039, -0.34819177,  0.13120056]]),
 2.5: array([[ 0.07896227,  0.23429198,  0.43966841,  0.58341567,  0.54741403,
          0.32485066],
        [-0.23429198, -0.47717917, -0.48637574, -0.102553  ,  0.41311828,
          0.54741403],
        [ 0.43966841,  0.48637574, -0.02081689, -0.46776707, -0.102553  ,
          0.58341567],
        [-0.58341567, -0.102553  ,  0.46776707, -0.02081689, -0.48637574,
          0.43966841],
        [ 0.54741403, -0.41311828, -0.102553  ,  0.48637574, -0.47717917,
          0.23429198],
        [-0.32485066,  0.54741403, -0.58341567,  0.43966841, -0.23429198,
          0.07896227]]),
 3.0: array([[ 0.04752296,  0.15446567,  0.32408192,  0.49656603,  0.57063771,
          0.4788983 ,  0.25943018],
        [-0.15446567, -0.370865  , -0.50283609, -0.34868254,  0.08399537,
          0.47725994,  0.4788983 ],
        [ 0.32408192,  0.50283609,  0.26213036, -0.25820326, -0.41720845,
          0.08399537,  0.57063771],
        [-0.49656603, -0.34868254,  0.25820326,  0.36103666, -0.25820326,
         -0.34868254,  0.49656603],
        [ 0.57063771, -0.08399537, -0.41720845,  0.25820326,  0.26213036,
         -0.50283609,  0.32408192],
        [-0.4788983 ,  0.47725994, -0.08399537, -0.34868254,  0.50283609,
         -0.370865  ,  0.15446567],
        [ 0.25943018, -0.4788983 ,  0.57063771, -0.49656603,  0.32408192,
         -0.15446567,  0.04752296]])}

# Clebsch-Gordan coefficients
The CG coefficient $\langle j_1, j_2; m_1, m_2 | j_1, j_2; j, m \rangle$

In [13]:
# compute a single Clebsch-Gordan coefficient
cg.cg_coefficient(
    j1=1/2, j2=1/2,
    m=0, j=1,
    m1=-1/2, m2=1/2
)

0.7071067811865476

In [14]:
# display a table of Clebsch-Gordan coefficients given j1, j2, and m
# should be empty: https://en.wikipedia.org/wiki/Table_of_Clebsch%E2%80%93Gordan_coefficients
cg.cg_table(j1=1, j2=0, m=1/2)

Empty DataFrame
Columns: [1.0]
Index: []

In [15]:
# https://en.wikipedia.org/wiki/Table_of_Clebsch%E2%80%93Gordan_coefficients
cg.cg_table(j1=1, j2=1/2, m=1/2)

j                 0.5       1.5
(m1, m2)
(0.0, 0.5)  -0.577350  0.816497
(1.0, -0.5)  0.816497  0.577350

In [16]:
# CG table with all possible m's
# returns a dict of pd.DataFrame
_ = cg.cg_tables_all_m(1/2, 1/2, display_tables=True)

j1 = 0.5, j2 = 0.5
m = -1.0:

j             1.0
(m1, m2)
(-0.5, -0.5)  1.0

m = 0.0:

j                 0.0       1.0
(m1, m2)
(-0.5, 0.5) -0.707107  0.707107
(0.5, -0.5)  0.707107  0.707107

m = 1.0:

j           1.0
(m1, m2)
(0.5, 0.5)  1.0

In [17]:
# stores all CG coefficients up to jmax=2
cg_table = ClebschGordanCoefficients(jmax=2)
# get the pd.DataFrame for the CG coefficients for j1 = j2 = 1/2 and m = 1
cg_table[0.5, 0.5, 1]

j           1.0
(m1, m2)
(0.5, 0.5)  1.0

In [18]:
cg_table

ClebschGordanCoefficients(jmax=2)

In [19]:
cg_table[5/2, 1]  # out of range -> update jmax to 5/2 automatically
cg_table

ClebschGordanCoefficients(jmax=2.5)

In [20]:
# displays the computed CG table with j1 = j2 = 1
for t in cg_table[1, 1].items():
    print(f'm = {t[0]}:')
    display(t[1])

m = -2.0:

j             2.0
(m1, m2)
(-1.0, -1.0)  1.0

m = -1.0:

j                 1.0       2.0
(m1, m2)
(-1.0, 0.0) -0.707107  0.707107
(0.0, -1.0)  0.707107  0.707107

m = 0.0:

j                0.0       1.0       2.0
(m1, m2)
(-1.0, 1.0)  0.57735 -0.707107  0.408248
(0.0, 0.0)  -0.57735  0.000000  0.816497
(1.0, -1.0)  0.57735  0.707107  0.408248

m = 1.0:

j                1.0       2.0
(m1, m2)
(0.0, 1.0) -0.707107  0.707107
(1.0, 0.0)  0.707107  0.707107

m = 2.0:

j           2.0
(m1, m2)
(1.0, 1.0)  1.0

In [21]:
# displays the computed CG table of with j1=3/2 and j2=1/2 with all possible m
# returns a dictionary of CG tables (pd.DataFrame)
_ = cg.cg_tables_all_m(j1=3/2, j2=1/2, display_tables=True)

j1 = 1.5, j2 = 0.5
m = -2.0:

j             2.0
(m1, m2)
(-1.5, -0.5)  1.0

m = -1.0:

j                  1.0       2.0
(m1, m2)
(-1.5, 0.5)  -0.866025  0.500000
(-0.5, -0.5)  0.500000  0.866025

m = 0.0:

j            0.0       1.0       2.0
(m1, m2)
(-0.5, 0.5)    0 -0.707107  0.707107
(0.5, -0.5)    0  0.707107  0.707107

m = 1.0:

j                 1.0       2.0
(m1, m2)
(0.5, 0.5)  -0.500000  0.866025
(1.5, -0.5)  0.866025  0.500000

m = 2.0:

j           2.0
(m1, m2)
(1.5, 0.5)  1.0